 langchain
 langchain-community
 langchainhub
 langchain-chroma
 bs4
 langchain-openai
 lxml
 streamlit
 python-dotenv
 transformers
 torch
adapter-transformers
peft
sentence-transformers
faiss-cpu
sentence-transformers
openai
groq
langchain-groq
langchain-llama-index
